@{
    ViewData["Title"] = "Página Inicial";
}
<br/>
<br />
<br/>
<br/>
<div class="text-center" >
    
    <h1 class="display-4">Bem Vindo!</h1>
    <p> Sistema para cadastro de Fornecedores</p>
</div>
